

.contenido-comunicate{
    display: flex;
    justify-content: space-between;

    margin-top: 40px;
    
}

.contenido-mapa{
    margin-right: 47px;
}

.contenido-formulario{
    margin-left: 86px;
}