/* footer */
footer {
  @extend %footer;
  .flex-footer {
    display: flex;
    justify-content: space-around;
  }

  .logo-footer {
    border-radius: 100px;
    height: 70px;
    width: 70px;
    margin-top: 30px;
  }

  .h3-footer {
    color: #fff;
    font-size: small;
  }

  .contenido-footer {
    margin-top: 50px;
    padding: 10px;
  }
}

.h3-footer:hover{
  color: rgb(168, 207, 104);

}
