





/* Fundacion logoterapeuta */
.fundacion-logoterapeuta{
    margin-bottom: 70px;
    margin-top: 70px;
    width: 90%;
    margin: 0 auto ;
    
     .h1-logoterapia{
        margin-top: 100px;;
      }
    .parrafo-logoterapia{
        text-align: justify;
 
      }
      
    .video{
      float: left;
      margin-right:20px;
       }

    .metahumanitas{
      background-image: url(./imagenes/rocas.jpg)
    }
    
  
  }