@media only screen and (max-width: 400px){
    
    /* fundacion logoterapia */

    .h1-logoterapia{
        position: relative;
        left: 104px;
    }

    .video{
        padding: 35px;
    }

    .parrafo-logoterapia{
        padding: 37px;
    }
   
    /* profesionales */
     
    .profesionales{
        margin-top: 100px;
     }
    .h1-profesionales{
        position: relative;
        left: 104px;
    }
    
    .d-flex{
        position: relative;
        left: 107px;
    }

    /* victor frankl*/
    .victor-frankl{
        margin-top: 100px;
    }
    .h1-victor{
        position: relative;
        left: 104px;
    }

    .row{
        position: relative;
        left: 105px;
    }
  

   /* Comunicate con nosotros */
   .comunicate{
    margin-top: 100px;
   } 

   .h1-comunicate{
    position: relative;
    left: 104px;
   }

   .contenido-mapa{
    position: relative;
    top: 596px;
    right: 460px;
   }

   .mapa{
    width: 300%;
   }

   /*footer*/
   footer{ 
    width: 569px;
     margin-top: 566px;
   
       .flex-footer{
        margin-left: 150px;
       }
        .texto-footer{
            
            margin: auto;
        }

        .h3-footer{
        font-size: 15px;
        
        }


        }
  
    
}

/* fin de mobile */

@media (min-width: 768px) and (max-width: 1024px) {
 
 /* profesionales */   
.profesionales{
    margin-top: 109px;
}

/* victor frankl */
 .victor-frankl{
   margin-top: 109px;
    
 }


/* Comunicate con nosotros */

.comunicate{
    margin-top: 109px;
}
.dejanos{
    margin-left: 45px;
}

.contenido-mapa{
    margin-left: 131px;
    margin-top: 30px;
}
.mapa{
    width: 463px;
}
.contenido-comunicate{
    flex-direction: column;
}


/* footer */
 footer{
    width: 839px;
 }
}


	
 


