/* profesionales */
.profesionales{
        .h1-profesionales{
          width: 90%;
          margin: 0 auto;
        }
        margin-top: 306px;
       
        .d-flex{
          padding: 40px;
        }
        
        .profesionales1{
          width: 300px;
          
        }
        

     .card-img-top:hover{
      animation: fadeOut; 
      animation-duration: 1s;
      
     }

     

}